
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/cadastrobanner.png");
    background-repeat: no-repeat;
    background-size: cover;    
    
}


.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../img/fundowrappercadastro.png");
    border-radius: 10%;
    overflow: hidden;
}


.wrapper_login {
    width: 52rem;  
    height: 36rem;     
}

.wrapper_cadastro {
    width: 55rem;   
    height: 38rem; 
}


.img_box {
    width: 50%;
    height: 100%;
}

.img_box img {
    width: 100%;
    height: 100%;
}


.container_autenticar {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo_autenticar_login   {
     width: 15rem;
     }
.logo_autenticar_cadastro {
     width: 9rem; 
    }


.container_autenticar h3 {
    margin-bottom: 0.3rem;
    color:  #A90505;
    font-size: 1.5rem;
    text-align: center;
}


.input_section {
    position: relative;
    width: 100%;
    margin-bottom: 0.4rem;
}

.input_section  i {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color:  #242020;
    pointer-events: none;
    transition: color 0.2s;
}
 
 

.input_autenticar {
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem 0 2.5rem;
    border-radius: 0.7rem;
    border: 4px solid  #242020;
    font-size: 1rem;
}
 

.input_autenticar:hover {
    border-color: #A90505;
}


.link_autenticar {
    font-size: 0.8rem;
    font-weight: 700;
    color:  #0400ee;
    text-decoration: none;
    transition: text-decoration 0.2s;
}


.btn_autenticar {
    margin-top: 1.1rem;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 0.625rem;
    background: #A90505;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.15s;
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: solid 3px black;


}

.btn_autenticar:hover {
    background:  #ec3939;
}



.mensagem_autenticar {
    display: block;
    color:  white;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    min-height: 1.5rem;
    text-align: center;
}

.mensagem_autenticar.error  { 
    color: #440000; 
    font-weight: 1000;
    font-size: 1rem;

}


.mensagem_autenticar.success { 
    color:  white;
    font-weight: 1000;
    font-size: 1rem;
 }



.btn_home {
    position: fixed;
    top: 2rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #FAF3E8;
    background: #B83232;
    border: 4px solid #000;
    border-radius: 30%;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(-8deg);
}

.btn_home:hover {
    background:  #c89478;
}