
.dashboard_container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    width: 280px;
    min-width: 280px;
    background-color: #682121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #333;
}

.sidebar .header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .logo {
    width: 11rem;
    margin-bottom: 10px;
}

.sidebar h1 {
    font-size: 1.4rem;
    color: #FFD700;
    letter-spacing: 1px;
}

.navlist {
    flex-grow: 1;
}

.nav-section h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff99;
    margin-bottom: 15px;
}

.navitem {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #BBB;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    margin-bottom: 5px;
}

.navitem:hover, .navitem.active {
    background-color: #1a1a1a;
    color: #FFD700;
}

.navitem:hover{
    transform: scale(1.1);
}

.navitem i {
    font-size: 18px;
}

.footer {
    border-top: 1px solid #333;
    padding-top: 20px;
}

.logged-account {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

#account-username {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#account-style {
    font-size: 15px;
    color: white;
}

#logout-btn {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ff4444;
    color: #ff4444;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#logout-btn:hover {
    background-color: #ff4444;
    color: white;
    transform: scale(1.1);
}

.main-content-quiz {
    flex-grow: 1;
    padding: 40px;
    background-image: url("../img/cadastrologin_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.quiz-container {
    background: rgba(37, 37, 37, 0.95);
    padding: 30px;
    border-radius: 12px;
    max-width: 550px;
    width: 100%;
    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    border: 4px solid #682121;
    height: 30rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    align-items: center;
}


.quiz-container button#btn_proxima {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: flex-start;
    background-color: #682121;
    border-radius: 20%;
    font-size: 2rem;
    opacity: 0.5;
    border: none;
    cursor: pointer;
}

.quiz-container button#btn_proxima:hover {
    background-color: #ba2828;
    opacity: 1;
    transform: scale(1.1);
}



.quiz-text-box {
    width: 100%;
    color: white;
    font-size: 1.4rem;
    padding-right: 20px;
}

#pergunta_titulo {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

#opcoes_container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.opt-btn {
    background-color: #222;
    color: white;
    border: 1px solid #682121;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
    text-align: left;
    transition:  0.3 ease;
    

}

.opt-btn:hover {
    background-color: #ba2828;
    color: black;
    transform: scale(1.1);
}

.opt-btn:focus {
    background-color: #ba2828;
    color: black;
    transform: scale(1.1);
    border: #FFD700 1px solid;
}

.section-opcoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

}

#score_final {
    font-size: 5rem;
    margin-bottom: 20px;
}

